<html>
   <body>
    Update time for <u><a href="http://localhost:2400/updatestart?seeding_id=A" target=_blank>Seeding A</u></a>.
    <br>
    Update time for <u><a href="http://localhost:2400/updatestart?seeding_id=B" target=_blank>Seeding B</u></a>.
    <br>
    Update time for <u><a href="http://localhost:2400/updatestart?seeding_id=C" target=_blank>Seeding C</u></a>.
    <br>
    Update time for <u><a href="http://localhost:2400/updatestart?seeding_id=D" target=_blank>Seeding D</u></a>.
    <br>
    Update time for <u><a href="http://localhost:2400/updatestart?seeding_id=E" target=_blank>Seeding E</u></a>.
    <br>
      Update time for <u><a href="http://localhost:2400/updatestart?seeding_id=F" target=_blank>Seeding F</u></a>.
      <br>
      Update time for <u><a href="http://localhost:2400/updatestart?seeding_id=G" target=_blank>Seeding G</u></a>.
      <br>
    <br>
    View Config Variables <a href="http://localhost:2400/config" target=_blank>here</a>.
    <br>
   View Users <a href="http://localhost:2400/users" target=_blank>here</a>.
   <br>
   Upload Runner data <a href="http://localhost:2400/upload" target=_blank>here</a>.
   <br>
   Delete all data <a href="http://localhost:2400/delete" target=_blank>here</a>.
       
</body>
</html>